{% extends 'books/base.html' %}

{% block title %}
    Инфо
{% endblock %}

{% block header %}
    О проекте
{% endblock %}

{% block content %}
    <p>Данный сайт разработан в качестве школьного учебного проекта. <br>
        <b>Цель</b>: создание ресурса для хранения текстов книг из учебной программы и не только.<br>
        <b>Средства:</b>
        <ul>
            <li>Python 3.7</li>
            <li>Django 2.2.7</li>
            <li>PyCharm 2019.2.3 Community Edition</li>
        </ul>
    </p>
{% endblock %}