{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Заголовок{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'books/style.css' %}"/>
</head>
<body>
    <header>
        <img src="{% static 'books/logo.png' %}" alt="<3" height="40px"/>
        MyFavLib/
    </header>
    <ul class='nav-vertical'>
        <li><a href="{% url 'books:index' %}">Главная</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="{% url 'books:about' %}">О сайте</a></li>
    </ul>
    <ul class="nav-horizontal">
        <li><a href="{% url 'books:index' %}">Главная</a></li>
        <li><a href="{% url 'books:genre' %}">Жанры</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="{% url 'books:about' %}">О сайте</a></li>
    </ul>
    <h1>
        {% block header %}
        {% endblock %}
    </h1>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <footer>Футер {% now "jS F Y H:i"%}</footer>
</body>
</html>